pipeline/ProcessingPipeline.json
{
	"name": "ProcessingPipeline",
	"properties": {
		"activities": [
			{
				"name": "UnzipToCSV",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings",
								"preserveZipFileNameAsFolder": false
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ZippedData",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": "@pipeline().parameters.sourceFileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UnzippedData",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": "@pipeline().parameters.sourceFileName"
						}
					}
				]
			},
			{
				"name": "CSVToParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetFileNameNoExtension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": ""
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSVData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				]
			},
			{
				"name": "SetFileNameNoExtension",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "UnzipToCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameNoExtension",
					"value": {
						"value": "@first(split(pipeline().parameters.sourceFileName, '.'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sourceFileName": {
				"type": "string"
			}
		},
		"variables": {
			"fileNameNoExtension": {
				"type": "String"
			}
		},
		"annotations": []
	}
}