pipeline/ProcessingPipeline_v2.json
{
	"name": "ProcessingPipeline_v2",
	"properties": {
		"activities": [
			{
				"name": "UnzipToCSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetFileNameNoExtension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ZippedData",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": {
								"value": "@pipeline().parameters.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UnzippedData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				]
			},
			{
				"name": "SetFileNameNoExtension",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameNoExtension",
					"value": {
						"value": "@first(split(pipeline().parameters.sourceFileName, '.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WriteSilverAndGold",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "UnzipToCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "AggregateAndSaveToGold",
						"type": "NotebookReference"
					},
					"parameters": {
						"filename_no_extension": {
							"value": {
								"value": "@variables('fileNameNoExtension')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": true,
						"spark.dynamicAllocation.minExecutors": 1,
						"spark.dynamicAllocation.maxExecutors": 2
					},
					"driverSize": "Small",
					"numExecutors": 1
				}
			}
		],
		"parameters": {
			"sourceFileName": {
				"type": "string"
			}
		},
		"variables": {
			"fileNameNoExtension": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-18T06:01:47Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}