pipeline/ProcessingPipeline.json
{
	"name": "ProcessingPipeline",
	"properties": {
		"activities": [
			{
				"name": "UnzipToCSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetFileNameNoExtension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"deleteFilesAfterCompletion": false
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ZippedData",
						"type": "DatasetReference",
						"parameters": {
							"sourceFileName": {
								"value": "@pipeline().parameters.sourceFileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "UnzippedData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				]
			},
			{
				"name": "CSVToParquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "UnzipToCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "policyID",
									"type": "Int64",
									"physicalType": "String"
								},
								"sink": {
									"name": "policyID",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "statecode",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "statecode",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "county",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "county",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "eq_site_limit",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "eq_site_limit",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "hu_site_limit",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "hu_site_limit",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fl_site_limit",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "fl_site_limit",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fr_site_limit",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "fr_site_limit",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tiv_2011",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "tiv_2011",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "tiv_2012",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "tiv_2012",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "eq_site_deductible",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "eq_site_deductible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "hu_site_deductible",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "hu_site_deductible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fl_site_deductible",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "fl_site_deductible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "fr_site_deductible",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "fr_site_deductible",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "point_latitude",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "point_latitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "point_longitude",
									"type": "Double",
									"physicalType": "String"
								},
								"sink": {
									"name": "point_longitude",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "line",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "line",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "construction",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "construction",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "point_granularity",
									"type": "Int64",
									"physicalType": "String"
								},
								"sink": {
									"name": "point_granularity",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "CSVData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ParquetData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				]
			},
			{
				"name": "SetFileNameNoExtension",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "fileNameNoExtension",
					"value": {
						"value": "@first(split(pipeline().parameters.sourceFileName, '.'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "AddToSynapseSQLDatabase",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "CSVToParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "DROP TABLE [insurance].[@variables('fileNameNoExtension')]\nGO",
						"allowCopyCommand": true,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ParquetData",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DedicatedPoolTables",
						"type": "DatasetReference",
						"parameters": {
							"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
						}
					}
				]
			},
			{
				"name": "AggregateAndSaveToGold",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "CSVToParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "AggregateAndSaveToGold",
						"type": "NotebookReference"
					},
					"parameters": {
						"filename_no_extension": {
							"value": {
								"value": "@variables('fileNameNoExtension')",
								"type": "Expression"
							},
							"type": "string"
						}
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "sparkpool",
						"type": "BigDataPoolReference"
					},
					"executorSize": "Small",
					"conf": {
						"spark.dynamicAllocation.enabled": true,
						"spark.dynamicAllocation.minExecutors": 1
					},
					"driverSize": "Small",
					"numExecutors": 1
				}
			}
		],
		"parameters": {
			"sourceFileName": {
				"type": "string"
			}
		},
		"variables": {
			"fileNameNoExtension": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-18T06:01:47Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}