euwestsynapse/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "euwestsynapse"
		},
		"euwestsynapse-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'euwestsynapse-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:euwestsynapse.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"euwestsynapse-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://kubastorage.dfs.core.windows.net"
		},
		"ZipAddedTrigger_properties_ProcessingPipeline_parameters_sourceFileName": {
			"type": "string",
			"defaultValue": "@triggerBody().fileName"
		},
		"ZipAddedTrigger_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/7a27c1f7-9a3b-4cd7-9dc2-c164affa0563/resourceGroups/EU_West_RG/providers/Microsoft.Storage/storageAccounts/kubastorage"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/DedicatedPool')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ProcessingPipeline')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "UnzipToCSV",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "SetFileNameNoExtension",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ZippedData",
								"type": "DatasetReference",
								"parameters": {
									"sourceFileName": {
										"value": "@pipeline().parameters.sourceFileName",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "UnzippedData",
								"type": "DatasetReference",
								"parameters": {
									"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
								}
							}
						]
					},
					{
						"name": "CSVToParquet",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "UnzipToCSV",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "policyID",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "policyID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "statecode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "statecode",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "county",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "county",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "eq_site_limit",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "eq_site_limit",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "hu_site_limit",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "hu_site_limit",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fl_site_limit",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "fl_site_limit",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fr_site_limit",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "fr_site_limit",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "tiv_2011",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "tiv_2011",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "tiv_2012",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "tiv_2012",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "eq_site_deductible",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "eq_site_deductible",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "hu_site_deductible",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "hu_site_deductible",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fl_site_deductible",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "fl_site_deductible",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "fr_site_deductible",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "fr_site_deductible",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "point_latitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "point_latitude",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "point_longitude",
											"type": "Double",
											"physicalType": "String"
										},
										"sink": {
											"name": "point_longitude",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "line",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "line",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "construction",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "construction",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "point_granularity",
											"type": "Int64",
											"physicalType": "String"
										},
										"sink": {
											"name": "point_granularity",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "CSVData",
								"type": "DatasetReference",
								"parameters": {
									"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ParquetData",
								"type": "DatasetReference",
								"parameters": {
									"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
								}
							}
						]
					},
					{
						"name": "SetFileNameNoExtension",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "fileNameNoExtension",
							"value": {
								"value": "@first(split(pipeline().parameters.sourceFileName, '.'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "AggregateAndSaveToGold",
						"type": "SynapseNotebook",
						"dependsOn": [
							{
								"activity": "CSVToParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebook": {
								"referenceName": "AggregateAndSaveToGold",
								"type": "NotebookReference"
							},
							"parameters": {
								"filename_no_extension": {
									"value": {
										"value": "@variables('fileNameNoExtension')",
										"type": "Expression"
									},
									"type": "string"
								}
							},
							"snapshot": true,
							"sparkPool": {
								"referenceName": "sparkpool",
								"type": "BigDataPoolReference"
							},
							"executorSize": "Small",
							"conf": {
								"spark.dynamicAllocation.enabled": true,
								"spark.dynamicAllocation.minExecutors": 1,
								"spark.dynamicAllocation.maxExecutors": 2
							},
							"driverSize": "Small",
							"numExecutors": 1
						}
					},
					{
						"name": "GetExists",
						"type": "GetMetadata",
						"dependsOn": [
							{
								"activity": "CSVToParquet",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DedicatedPoolTables",
								"type": "DatasetReference",
								"parameters": {
									"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
								}
							},
							"fieldList": [
								"exists"
							]
						}
					},
					{
						"name": "AddToSynapseSQLIfNotExists",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "GetExists",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@activity('GetExists').output.exists",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "AddToSynapseSQL",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "SqlDWSink",
											"allowPolyBase": true,
											"polyBaseSettings": {
												"rejectValue": 0,
												"rejectType": "value",
												"useTypeDefault": true
											},
											"tableOption": "autoCreate",
											"disableMetricsCollection": false
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ParquetData",
											"type": "DatasetReference",
											"parameters": {
												"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DedicatedPoolTables",
											"type": "DatasetReference",
											"parameters": {
												"fileNameNoExtensionVar": "@variables('fileNameNoExtension')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"sourceFileName": {
						"type": "string"
					}
				},
				"variables": {
					"fileNameNoExtension": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2022-12-18T06:01:47Z"
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ZippedData')]",
				"[concat(variables('workspaceId'), '/datasets/UnzippedData')]",
				"[concat(variables('workspaceId'), '/datasets/CSVData')]",
				"[concat(variables('workspaceId'), '/datasets/ParquetData')]",
				"[concat(variables('workspaceId'), '/notebooks/AggregateAndSaveToGold')]",
				"[concat(variables('workspaceId'), '/bigDataPools/sparkpool')]",
				"[concat(variables('workspaceId'), '/datasets/DedicatedPoolTables')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CSVData')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "euwestsynapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileNameNoExtensionVar": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().fileNameNoExtensionVar, '.csv')",
							"type": "Expression"
						},
						"folderPath": "bronze/staging",
						"fileSystem": "test-container"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/euwestsynapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DedicatedPoolTables')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "euwestsynapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "DedicatedPool"
					}
				},
				"parameters": {
					"fileNameNoExtensionVar": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [],
				"typeProperties": {
					"schema": "insurance",
					"table": {
						"value": "@dataset().fileNameNoExtensionVar",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/euwestsynapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ParquetData')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "euwestsynapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileNameNoExtensionVar": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().fileNameNoExtensionVar, '.parquet')",
							"type": "Expression"
						},
						"folderPath": {
							"value": "silver",
							"type": "Expression"
						},
						"fileSystem": "test-container"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/euwestsynapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/UnzippedData')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "euwestsynapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileNameNoExtensionVar": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@concat(dataset().fileNameNoExtensionVar, '.csv')",
							"type": "Expression"
						},
						"folderPath": "bronze/staging",
						"fileSystem": "test-container"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/euwestsynapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ZippedData')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "euwestsynapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"sourceFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().sourceFileName",
							"type": "Expression"
						},
						"folderPath": "bronze",
						"fileSystem": "test-container"
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/euwestsynapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/euwestsynapse-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('euwestsynapse-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/euwestsynapse-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('euwestsynapse-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ZipAddedTrigger')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "ProcessingPipeline",
							"type": "PipelineReference"
						},
						"parameters": {
							"sourceFileName": "[parameters('ZipAddedTrigger_properties_ProcessingPipeline_parameters_sourceFileName')]"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/test-container/blobs/bronze",
					"blobPathEndsWith": "zip",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('ZipAddedTrigger_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/ProcessingPipeline')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CSVtoParquet')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "CSVData",
								"type": "DatasetReference"
							},
							"name": "CSVsource"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "ParquetData",
								"type": "DatasetReference"
							},
							"name": "Parquetsink"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          policyID as string,",
						"          statecode as string,",
						"          county as string,",
						"          eq_site_limit as string,",
						"          hu_site_limit as string,",
						"          fl_site_limit as string,",
						"          fr_site_limit as string,",
						"          tiv_2011 as string,",
						"          tiv_2012 as string,",
						"          eq_site_deductible as string,",
						"          hu_site_deductible as string,",
						"          fl_site_deductible as string,",
						"          fr_site_deductible as string,",
						"          point_latitude as string,",
						"          point_longitude as string,",
						"          line as string,",
						"          construction as string,",
						"          point_granularity as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> CSVsource",
						"CSVsource sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     format: 'parquet',",
						"     umask: 0022,",
						"     preCommands: [],",
						"     postCommands: [],",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> Parquetsink"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/CSVData')]",
				"[concat(variables('workspaceId'), '/datasets/ParquetData')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQL script 1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "-- SELECT county, COUNT(policyID) AS count_policyID, MAX(eq_site_limit) AS max_eq_site_limit\n-- FROM (\n--   SELECT *, ROW_NUMBER() OVER (PARTITION BY county ORDER BY eq_site_limit DESC) AS row_num\n--   FROM [insurance].[FL_insurance_sample]\n-- ) t\n-- WHERE row_num = 1\n-- GROUP BY county\n\n\n-- SELECT top 1000 *, ROW_NUMBER() OVER (PARTITION BY county ORDER BY eq_site_limit DESC) AS row_num\n-- FROM [insurance].[FL_insurance_sample]\n\n-- where policyID = 949187\n\nselect count(*)\nfrom [insurance].[FL_insurance_sample]\nunion all\nselect DISTINCT count(policyID)\nfrom [insurance].[FL_insurance_sample];",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "DedicatedPool",
						"poolName": "DedicatedPool"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AggregateAndSaveToGold')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "sparkpool",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "331c491c-295d-4f9c-9a4e-dcfa959b38a6"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/7a27c1f7-9a3b-4cd7-9dc2-c164affa0563/resourceGroups/EU_West_RG/providers/Microsoft.Synapse/workspaces/euwestsynapse/bigDataPools/sparkpool",
						"name": "sparkpool",
						"type": "Spark",
						"endpoint": "https://euwestsynapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/sparkpool",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.2",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"tags": [
								"parameters"
							]
						},
						"source": [
							"filename_no_extension = 'FL_insurance_sample'"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"from pyspark.sql import functions as F, types as T, window as W\n",
							"\n",
							"\n",
							"container = 'abfss://test-container@kubastorage.dfs.core.windows.net'\n",
							"input_medallion = 'silver'\n",
							"output_medallion = 'gold'\n",
							"input_data_path = f'{container}/{input_medallion}/{filename_no_extension}.parquet'\n",
							"output_data_path = f'{container}/{output_medallion}/{filename_no_extension}.parquet'\n",
							"\n",
							"\n",
							"df = (\n",
							"    spark\n",
							"    .read\n",
							"    .parquet(f'{container}/{input_medallion}/{filename_no_extension}.parquet')\n",
							")\n",
							"\n",
							"window = W.Window.partitionBy(\"county\")\n",
							"agg_df = (\n",
							"    df\n",
							"    .withColumn(\"count_policyID\", F.count('policyID').over(window))\n",
							"    .withColumn(\"max_eq_site_limit\", F.max('eq_site_limit').over(window)) \n",
							"    .withColumn('row_num', F.row_number().over(window.orderBy(F.col('eq_site_limit').desc())))\n",
							"    .where(F.col('row_num') == 1)\n",
							"    .select(\n",
							"        'county', \n",
							"        'count_policyID', \n",
							"        'max_eq_site_limit', \n",
							"        F.col('policyID').alias('policyID_with_max_eq_site_limit')\n",
							"    )\n",
							")\n",
							"\n",
							"(agg_df\n",
							"    .write\n",
							"    .format(\"parquet\")\n",
							"    .mode(\"overwrite\")\n",
							"    .save(f'{container}/{output_medallion}/{filename_no_extension}.parquet')\n",
							")"
						],
						"outputs": [],
						"execution_count": 2
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LakeDatabase')]",
			"type": "Microsoft.Synapse/workspaces/databases",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"Ddls": [
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "LakeDatabase",
							"EntityType": "DATABASE",
							"Origin": {
								"Type": "SPARK"
							},
							"Properties": {
								"IsSyMSCDMDatabase": true
							},
							"Source": {
								"Provider": "ADLS",
								"Location": "abfss://test-container@kubastorage.dfs.core.windows.net/gold",
								"Properties": {
									"FormatType": "parquet",
									"LinkedServiceName": "euwestsynapse-WorkspaceDefaultStorage"
								}
							}
						},
						"Source": {
							"Type": "SPARK"
						}
					},
					{
						"ActionType": "CREATE",
						"OldEntity": null,
						"NewEntity": {
							"Name": "insurance",
							"EntityType": "TABLE",
							"Namespace": {
								"DatabaseName": "LakeDatabase"
							},
							"Description": "",
							"TableType": "EXTERNAL",
							"Origin": {
								"Type": "SPARK"
							},
							"StorageDescriptor": {
								"Columns": [
									{
										"Name": "county",
										"OriginDataTypeName": {
											"TypeName": "string",
											"IsComplexType": false,
											"IsNullable": true,
											"Length": 8000,
											"Properties": {
												"HIVE_TYPE_STRING": "string"
											}
										}
									},
									{
										"Name": "count_policyID",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									},
									{
										"Name": "max_eq_site_limit",
										"OriginDataTypeName": {
											"TypeName": "double",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "double"
											}
										}
									},
									{
										"Name": "policyID_with_max_eq_site_limit",
										"OriginDataTypeName": {
											"TypeName": "long",
											"IsComplexType": false,
											"IsNullable": true,
											"Properties": {
												"HIVE_TYPE_STRING": "long"
											}
										}
									}
								],
								"Format": {
									"InputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat",
									"OutputFormat": "org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat",
									"FormatType": "parquet",
									"SerializeLib": "org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe",
									"Properties": {
										"path": "abfss://test-container@kubastorage.dfs.core.windows.net/gold",
										"FormatTypeSetToDatabaseDefault": false
									}
								},
								"Source": {
									"Provider": "ADLS",
									"Location": "abfss://test-container@kubastorage.dfs.core.windows.net/gold",
									"Properties": {
										"LinkedServiceName": "euwestsynapse-WorkspaceDefaultStorage",
										"LocationSetToDatabaseDefault": false
									}
								},
								"Properties": {
									"textinputformat.record.delimiter": ",",
									"compression": "",
									"derivedModelAttributeInfo": "{\"attributeReferences\":{}}"
								},
								"Compressed": false,
								"IsStoredAsSubdirectories": false
							},
							"Properties": {
								"Description": "",
								"DisplayFolderInfo": "{\"name\":\"Others\",\"colorCode\":\"\"}",
								"PrimaryKeys": "",
								"spark.sql.sources.provider": "parquet"
							},
							"Retention": 0,
							"Temporary": false,
							"IsRewriteEnabled": false
						},
						"Source": {
							"Type": "SPARK"
						}
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/sparkpool')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.2",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": true,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westeurope"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DedicatedPool')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westeurope"
		}
	]
}